################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CloudSender/bin/Debug/Consumer - Refinance/CloudSender.vshost.exe
/CloudSender/bin/Debug/Consumer - Refinance/7 Confirm Password.CloudSender
/CloudSender/bin/Debug/Consumer - Refinance/6 Password.CloudSender
/CloudSender/bin/Debug/Consumer - Refinance/5 SSN.CloudSender
/CloudSender/bin/Debug/Consumer - Refinance/5 SSN 78.CloudSender
/CloudSender/bin/Debug/Consumer - Refinance/4 Declaration.CloudSender
/CloudSender/bin/Debug/Consumer - Refinance/3 Employment.CloudSender
/CloudSender/bin/Debug/Consumer - Refinance/2 Property.CloudSender
/CloudSender/bin/Debug/Consumer - Refinance/1 Borrowser.CloudSender
/CloudSender/bin/Debug/Consumer/CloudSender.vshost.exe
/CloudSender/bin/Debug/Consumer/7 Confirm Password.CloudSender
/CloudSender/bin/Debug/Consumer/6 Password.CloudSender
/CloudSender/bin/Debug/Consumer/5 SSN.CloudSender
/CloudSender/bin/Debug/Consumer/4 Declaration.CloudSender
/CloudSender/bin/Debug/Consumer/3 Employment.CloudSender
/CloudSender/bin/Debug/Consumer/2 Property.CloudSender
/CloudSender/bin/Debug/Consumer/1 Borrowser.CloudSender
/CloudSender/bin/Debug/Refinance/3 Assets.CloudSender
/CloudSender/bin/Debug/Refinance/2 Property Address.CloudSender
/CloudSender/bin/Debug/Refinance/11 Confirm Email.CloudSender
/CloudSender/bin/Debug/Refinance/10 Email.CloudSender
/CloudSender/bin/Debug/Refinance/1 Borrwer Personal Greg.CloudSender
/CloudSender/bin/Debug/Prospect/ARM.CloudSender
/CloudSender/bin/Debug/New Purchase/8 First Time Login BNL.CloudSender
/CloudSender/bin/Debug/New Purchase/7 Income Current Employer.CloudSender
/CloudSender/bin/Debug/New Purchase/6 Declarations.CloudSender
/CloudSender/bin/Debug/New Purchase/5 Estimated Value.CloudSender
/CloudSender/bin/Debug/New Purchase/4 Assets.CloudSender
/CloudSender/bin/Debug/New Purchase/3 Property Address.CloudSender
/CloudSender/bin/Debug/New Purchase/2 Confirm Email.CloudSender
/CloudSender/bin/Debug/New Purchase/1 Borrwer Personal Greg.CloudSender
/CloudSender/bin/Debug/Misc/q Borrwer Personal Greg QA01.CloudSender
/CloudSender/bin/Debug/Misc/k Borrowser SSN5832.CloudSender
/CloudSender/bin/Debug/Misc/i Property Address Qa01.CloudSender
/CloudSender/bin/Debug/Misc/c Property Address.CloudSender
/CloudSender/bin/Debug/Misc/Address.CloudSender
/CloudSender/bin/Debug/Loan Officer Test Bug/7 Income Current Employer.CloudSender
/CloudSender/bin/Debug/Loan Officer Test Bug/6 Declarations.CloudSender
/CloudSender/bin/Debug/Loan Officer Test Bug/3 Assets.CloudSender
/CloudSender/bin/Debug/Loan Officer Test Bug/2 Property Address.CloudSender
/CloudSender/bin/Debug/Loan Officer Test Bug/2 Confirm Email.CloudSender
/CloudSender/bin/Debug/Loan Officer Test Bug/2 Borrwer Personal DALLA.CloudSender
/CloudSender/bin/Debug/Loan Officer Test Bug/1 Login Testresults.CloudSender
