################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CloudSender/bin/Debug/Consumer - Refinance/CloudSender.vshost.exe
